<div class="single-product-details-container content">
  <div class="product-details-title">
    <ul class="flex unlisted gap-10">
      <li><a href="">Description</a></li>
      <li><a href="">Additional Info</a></li>
      <li><a href="">Reviews</a></li>
    </ul>
  </div>
  <div class="product-details-infos">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur maiores eaque exercitationem officia soluta pariatur sapiente! In omnis at provident, nobis impedit ipsum, laudantium ipsam similique, ullam eligendi libero porro.
    Ut fugit repudiandae vero pariatur soluta error nulla ea consectetur mollitia dolores id dolorem minima voluptatibus recusandae, quos odio quas blanditiis ab iste, doloremque, quae architecto? Corporis rerum commodi minus!
    Reprehenderit eaque sunt eos, debitis tempore blanditiis quibusdam culpa, nulla minima repudiandae perferendis sint quis harum, accusantium dolores excepturi exercitationem! Saepe voluptate, veritatis error maxime harum porro a tempora fugiat?
    Minima omnis sed excepturi accusantium dolor facere officia ex distinctio nihil! Maiores iste ducimus nam inventore recusandae adipisci commodi possimus veniam, nesciunt incidunt voluptatum nemo debitis rem nostrum at harum.
    Minima iste temporibus sapiente earum eaque omnis id corporis perspiciatis sequi hic fugit beatae, dolorum excepturi sed! Nemo sed saepe earum, dolorem harum assumenda, voluptates officia impedit magnam provident odit?
    Necessitatibus neque modi quaerat vel fuga nihil, at alias aliquam illum veritatis minus, blanditiis doloribus, aliquid a velit? Illum quos veritatis, praesentium voluptatibus iste quam. Vitae nemo ipsum sunt exercitationem?
    Deserunt, iste tempora cum expedita recusandae officiis magni? Necessitatibus cumque eligendi, quisquam fugiat possimus quaerat culpa accusantium quae commodi, quam in sapiente similique obcaecati maxime, quasi eaque nihil magni a.
    Alias, in. Excepturi fugit aspernatur quas dicta iusto nihil obcaecati, optio atque facere animi tempora sit, provident maxime quae iure odio eos vero laborum? Sed assumenda autem sapiente aliquam ab.
    Molestias, iste dolorum quod beatae, debitis temporibus quo facere vitae ipsam impedit atque facilis commodi nobis odit voluptates quaerat quisquam. At quisquam voluptas non asperiores, vel dolores odio numquam aliquid?
    Veniam totam ex est expedita maiores unde iste magni obcaecati, quaerat officia ea, fugiat, eligendi odio? Perspiciatis deleniti omnis, odit inventore eos blanditiis explicabo repudiandae modi ratione. Alias, quos mollitia!
  </div>
</div>
