<div class="product">
  <div class="product-image" (click)="handleClickProduct(product)">
    <img
      [src]="product ? product.imageUrl[0] : ''"
      [alt]="product ? product.category[0] : ''"
    />
  </div>
  <div class="product-details">
    <h3>{{ product?.name }}</h3>
    <div class="product-price">
      <h3>{{ (product?.sold_price || 0) / 100 }}-</h3>
      <del>
        <h3>{{ (product?.regular_price || 0) / 100 }}-</h3>
      </del>
    </div>
  </div>
  <button [routerLink]="['product-detail', product?.slug]">Details</button>
</div>
