.product{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  transition: 0.2s;
}
.product:hover{
  outline: 5px solid green;
}

.product-image{
  height: 70%;
  background-color: green;
}
.procduct-details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-price{
display: flex;
align-items: center;
justify-content: center;

}

img{
  height: 100%;
  width: 100%;
  background: cover
  ;
}
