 .signup{
  width: 600px;
  height: 70vh;
  margin: 0 auto;
}
h1{
padding-bottom:50px ;
}
.form-container{
  padding: 50px 3px;
  width: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
}
.form-line input{
  width: 100%;
  margin-bottom: 15px;
  border: 0.1px solid black;
  padding: 8px;
  font-size: 1.8rem;
  border-radius: 5px;

}
#form-line-one{
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
  width: 100%;
}


button{
  height: 40px;
  background-color: #1d1d1d;
  border: none;
  width: 100%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.4rem;
}
